// bower:scss
// endbower

.mdl-layout__header-row {
  /* Remove the hamburger spacing */
  padding-left: 24px !important;
}

.form-card{
  width: 512px;
  margin:24px auto;
}

.mdl-textfield {
  display: block;
  width:100%;
}

.error {
  //This is the error text
  display: none;
  color: #DD2C00;
}

#credit-card, #ach {
  //Hide the Payment types by default
  //Then unhide them in JS based on value of Payment Type radio
  display: none;
}

.payment-type{
  //Hack to stop the display of the ACH form until we get it working with Stripe
  display:none;
}
