// bower:scss
// endbower

.mdl-layout__header-row {
  /* Remove the hamburger spacing */
  padding-left: 24px !important;
}

.form-card{
  width: 512px;
  margin:24px auto;
}

.mdl-textfield {
  display: block;
  width:100%;
}

.input-icon {
  float:right;
  margin-right: 5px;
  margin-top: -21px;
  position: relative;
  z-index: 2;
  color: rgba(0,0,0,.12);
}

#expires-year-select{
  width: 50%;
  display: inline-block;
}

#expires-month-select{
  width: 49%;
  display: inline-block;
}

#error {
  //This is the error text
  display: none;
  color: #DD2C00;
}

.amount-div{
  width:75%;
  display: inline-block;
}
.total-amount-div{
  width:20%;
  display:inline-block;
}
