{
  "ecmaFeatures": {
    "modules": true,
    "blockBindings": true,
    "arrowFunctions": true
  },
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ]
  }
}
